.form-control {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  padding: 15px 20px;
  border: none;
  background-color: $brand-secondary;
  box-sizing: border-box;
  box-shadow: 4px 4px 0px rgba(0,0,0,0.4);
  color: $white;
  transition: background-color 0.2s,box-shadow 0.2s,top 0.2s,left 0.2s;

  &:focus {
    background-color: #18A08D;
    box-shadow: 0px 0px 0px rgba(0,0,0,0.4);
    top: 4px;
    left: 4px;
    outline: none;
    color: $white;
    transition: background-color 0.2s,box-shadow 0.2s,top 0.2s,left 0.2s;
  }

  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $white;
  }

  &::-moz-placeholder { /* Firefox 19+ */
    color: $white;
  }

  &:-ms-input-placeholder { /* IE 10+ */
    color: $white;
  }

  &:-moz-placeholder { /* Firefox 18- */
    color: $white;
  }
}

.submit {
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  margin-top: 20px;
  padding: 9px 32px;
  background-color: rgba(255,127,38,0.88);
  border: none;
  color: $white;
  box-shadow: 4px 4px 0px rgba(0,0,0,0.4);
  transition: background-color 0.2s,box-shadow 0.2s,top 0.2s,left 0.2s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  overflow: hidden;
  text-align: center;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    box-shadow: 0px 0px 0px rgba(0,0,0,0.4);
    top: 4px;
    left: 4px;
  }
}
