.form-control {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  padding: 15px 20px;
  border: none;
  background-color: $brand-secondary;
  box-sizing: border-box;
  box-shadow: 4px 4px 0px rgba(0,0,0,0.4);
  color: $white;
  transition: background-color 0.2s,box-shadow 0.2s,top 0.2s,left 0.2s;

  &:focus {
    background-color: #18A08D;
    box-shadow: 0px 0px 0px rgba(0,0,0,0.4);
    top: 4px;
    left: 4px;
    outline: none;
    color: $white;
    transition: background-color 0.2s,box-shadow 0.2s,top 0.2s,left 0.2s;
  }

  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $white;
  }

  &::-moz-placeholder { /* Firefox 19+ */
    color: $white;
  }

  &:-ms-input-placeholder { /* IE 10+ */
    color: $white;
  }

  &:-moz-placeholder { /* Firefox 18- */
    color: $white;
  }
}

.submit {
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  margin-top: 20px;
  padding: 9px 32px;
  background-color: rgba(255,127,38,0.88);
  border: none;
  color: $white;
  box-shadow: 4px 4px 0px rgba(0,0,0,0.4);
  transition: background-color 0.2s,box-shadow 0.2s,top 0.2s,left 0.2s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  overflow: hidden;
  text-align: center;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    box-shadow: 0px 0px 0px rgba(0,0,0,0.4);
    top: 4px;
    left: 4px;
  }
}

.gcore-label-left, .gcore-checkbox-item {
  display: block;
  margin-bottom: 3px;
  color: #FFB226;
}

.gcore-checkbox-item {

  input {
    display: none;

    &[type='checkbox']:checked+label span {
      border: 13px solid #fff;
      animation: shrink-bounce 0.3s cubic-bezier(.4, .0, .23, 1);

      &::before {
        content: "";
        position: absolute;
        top: -14px;
        right: 0px;
        font-size: 3.7px;
        border-right: 3px solid transparent;
        border-bottom: 3px solid transparent;
        transform: rotate(45deg);
        transform-origin: 0% 100%;
        animation: checkbox-check 0.125s 0.25s cubic-bezier(.4, .0, .23, 1) forwards;
      }
    }
  }

  label {
    position: relative;

    span {
      display: inline-block;
      position: relative;
      top: 4px;
      margin-right: 15px;
      width: 26px;
      height: 26px;
      background: #18A08D;
      border: 0px solid rgba(255, 255, 255, 0.7);
      border-radius: 0px;
      cursor: pointer;
      transition: border 0.3s cubic-bezier(.4, .0, .23, 1);
      box-sizing: border-box;
      box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.4);
    }
  }
}

@keyframes shrink-bounce {
  0% {
    top: 0px;
    left: 0px;
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.4);
  }
  33% {
    top: 3px;
    left: 3px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.4);
  }
  100% {
    top: 0px;
    left: 0px;
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.4);
  }
}

@keyframes checkbox-check {
  0% {
    width: 0;
    height: 0;
    border-color: #18A08D;
    transform: translate3d(0, 0, 0) rotate(45deg);
  }
  33% {
    width: 2em;
    height: 0;
    transform: translate3d(0, 0, 0) rotate(45deg);
  }
  100% {
    width: 2em;
    height: 5em;
    border-color: #18A08D;
    transform: translate3d(0, -.5em, 0) rotate(45deg);
  }
}
